.chat{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height:100vh;
    background-image: radial-gradient(circle, #ffffff, #e6e6fa);  
    padding-bottom: 30px;
        
}

.logo{
    height: 90vh;
    background-image:url(/AI_1.svg) ;
    background-repeat: no-repeat;
    background-position: center;
    /* filter: blur(3px); */
    
}

.upgrade{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    left: 0;
    width: 50%;
    height: 70px;

    
}

.options{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #0d2da2; 
    height:100vh;
   padding: 5px;
    
  
}

.store{
    height: 65%;
    margin: 10px;
}

.help{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    top: 0;
    right: 0;
    width: 50%;
    height: 70px;
}

.helpIcon{
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
    color: black;
}




